<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container">
      <h2>Monster Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="monsterWidth"></div>
        <div class="healthbar2__value" :style="monsterWidth2"></div>
      </div>
    </section>
    <section id="player" class="container">
      <h2>Your Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="playerWidth"></div>
      </div>
    </section>
    <section v-if="winner" class="container">
      <h2>Game Over!</h2>
      <h2>{{gameOverMessage}}</h2>
      <button @click="resetGame">Reset Game</button>
    </section>
    <section v-if="!winner" id="controls">
      <button @click="attackMonster">ATTACK</button>
      <button @click="specialAttack" :disabled="noEnergy">SPECIAL ATTACK</button>
      <button @click="heal" :disabled="noMagic">HEAL</button>
      <button @click="limitBreak" :class="limitClass" :disabled="noLimit">LIMIT BREAK</button>
      <button @click="surrender">SURRENDER</button>
    </section>
    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="battleLog in battleLogs">
          <span
            :class="{'log--player': battleLog.actionBy === 'player', 'log--monster': battleLog.actionBy === 'monster'}">{{battleLog.actionBy === 'player' ? 'Player' : 'Monster'}}</span>
          <span v-if="battleLog.actionType === 'heal'">
            heals himself for <span class="log--heal">{{battleLog.actionValue}}</span>
          </span>
          <span v-else>
            attacks and deals <span class="log--damage">{{battleLog.actionValue}}</span>
          </span>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>